*{
	margin: 0;
	border:0;
}
.fundo{
	height: 100vh;
	width: 100vw;
	background-color: blue;
	position: relative;
}
.mato{
	height: 351px;
    width: 100vw;
    background-color: green;
    position: absolute;
    bottom: 0%;
}
.rua{
	height: 347px;
    width: 21vw;
    background-color: grey;
    position: absolute;
    bottom: 0%;
    left: 41%;
}
.lista1{
	height: 109px;
    width: 7px;
    background-color: black;
    position: absolute;
    bottom: 61%;
    left: 48%;
}
.lista2{
	position: absolute;
    bottom: 15%;
    left: 48%;
}
.sinal{
	height: 139px;
    width: 65px;
    background-color: #000000bf;
    position: absolute;
    left: 37%;
    bottom: 69%;
    border-radius: 23%;
}
.bola1{
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 8%;
    left: 27%;
}
.bola2{
	background-color: yellow;
    position: absolute;
    top: 37%;
    left: 27%;
}
.bola3{
 	background-color: green;
    position: absolute;
    top: 68%;
    left: 27%;
}
.ferro-1{
	width:103px;
    height: 18px;
    background-color: grey;
    position: absolute;
    top: 19%;
    left: 29%;
}
.ferro-2{
	width: 20px;
    height: 289px;
    border-radius: 21%;
    background-color: grey;
    position: absolute;
    top: 19%;
    left: 28%;
}
.onibus{
	width: 53px;
    height: 108px;
    background-color: #96e098;
    position: absolute;
    bottom: 5%;
    left: 55%;
}
.vidro1{
	width: 10px;
	height: 10px;
	background-color: black;
	position:absolute;
	bottom: 3%;
	left: 55%;
}